menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "FRITZ!Box 6820 XO"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "36285371065867674404"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 5
        help
            Set the Maximum retry to avoid station reconnecting to the AP
            unlimited when the AP is really inexistent.

    config WG_PRIVATE_KEY
        string "Wireguard Private Key"
        default "IDMj7MCa84aqdP2Co9F8FumSjk2lWfnixdVk3oR6zXI="
        help
            Private key of the WireGuard device.

    config WG_LOCAL_IP_ADDRESS
        string "Wireguard local IP address"
        default "100.120.100.31"
        help
            Local IP address of the WireGuard device.

    config WG_LOCAL_IP_NETMASK
        string "Wireguard local netmask"
        default "255.255.255.255"
        help
            Netmask of the local network the WireGuard device belongs to.

    config WG_LOCAL_PORT
        int "Wireguard local port"
        default 53820
        help
            Local port to listen.

    config WG_PEER_ONE_PUBLIC_KEY
        string "Wireguard remote peer public key"
        default "N5oM/P2/y3pWeMYdBj4s1LsI/kV5c/S+7aMkYUNdD08="
        help
            Public key of the 1st remote peer.

    config WG_PEER_TWO_PUBLIC_KEY
        string "Wireguard remote peer public key"
        default "tNZTk/ekeZsMnlTGljbKWSZ4nSL7Gw0+d7gMTLVMFws="
        help
            Public key of the 2nd remote peer.

    config WG_PRESHARED_KEY
        string "Wireguard pre-shared symmetric key"
        default ""
        help
            Public key of the remote peer.

    config WG_PEER_ONE_ADDRESS
        string "Wireguard remote peer address"
        default "100.67.191.124"
        help
            Address of the 1st remote peer.

    config WG_PEER_TWO_ADDRESS
        string "Wireguard remote peer address"
        default "10.0.0.3"
        help
            Address of the 2nd remote peer.

    config WG_PEER_ONE_ENDPOINT
        string "Wireguard remote peer endpoint"
        default "192.168.178.27"
        help
            Address of the 1st remote peer.

    config WG_PEER_TWO_ENDPOINT
        string "Wireguard remote peer endpoint"
        default "192.168.178.79"
        help
            Address of the 2nd remote peer.

    config WG_PEER_ONE_MASK
        string "Wireguard remote peer net mask"
        default "255.255.255.255"
        help
            Address of the 1st remote peer netmask

    config WG_PEER_TWO_MASK
        string "Wireguard remote peer net mask"
        default "255.255.255.255"
        help
            Address of the 2nd remote peer netmask

    config WG_PEER_ONE_PORT
        int "Wireguard remote peer port"
        default 51820
        help
            Port number of the remote peer.

    config WG_PEER_TWO_PORT
        int "Wireguard remote peer port"
        default 43524
        help
            Port number of the remote peer.

    config WG_PERSISTENT_KEEP_ALIVE
        int "Interval to send an authenticated empty packet"
        default 0
        help
            A seconds interval, between 1 and 65535 inclusive, of how often to
            send an authenticated empty packet to the peer for the purpose of
            keeping a stateful firewall or NAT mapping valid persistently
    config EXAMPLE_PING_ADDRESS
        string "Target IP address or name"
        default "10.0.0.1"
        help
            Target IP address to send ICMP echo requests.

    config EXAMPLE_FALSE_ADDRESS
        string "Target IP address or name"
        default "10.0.2.3"
        help
            Target IP address to send ICMP echo requests.
endmenu
